/* iframe 디자인은 index.js에 되어있음 */
@font-face {
    font-family: custom;
    src: url(GowunDodum-Regular.ttf);
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%; /* Ensure html and body take the full height */
}

.page {
    width: 100%;
    height: 100%;
    text-align: center;
    display: none; /* Hide all pages by default */
}

#page1 {
    display: block;
}

.first-image {

    height: 100%;
    width: 100%;
    display: block;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Ensures the image doesn't overflow the container */
      
}

.second-image {
    width: 100%;
    display:block;
}

.audio-player-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    padding: 10px;
    z-index: 1000; /* Ensure it's above other content */
}

audio {
    width: 100%; /* Make the audio player stretch across the screen */
    max-width: 600px; /* Optional: You can control the maximum width */
    margin: 0 auto; /* Center it horizontally */
    display: block;
}



iframe { 
    display:none;
    margin: auto;
    padding: none;
    border: none; 
}

#title{
    font-family: custom;
    color:black;
    text-align: center;
    margin-bottom: 0;
    display:none;
}

#lang-icon{
    position: absolute;
    top: 10px; /* Adjust the vertical distance from the top */
    right: 10px; /* Adjust the horizontal distance from the right */
    width: 50px; /* Adjust the size of the icon */
    height: 50px;
    cursor: pointer;
}

#play-btn{
    position: absolute;
    bottom: 10px; /* Adjust the vertical distance from the top */
    left: 10px; /* Adjust the horizontal distance from the right */
    width: 100px; /* Adjust the size of the icon */
    height:100px;
    cursor: pointer;
}

.image-container{
    position: relative;
    /*display: inline-block;*/
    height:100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Ensures the image doesn't overflow the container */

}

.mainText{
    font-family: custom;
    color:black;
    text-align: left;
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;

}

pre {
    font-family: custom;
    font-size: 20px;
 }


/*
.mainText{
    background-color:rgba(28,34,61,255);
}
*/


  .show {
    display:block;
    margin-top: 20px;
    font-size: large;
}
