/* iframe 디자인은 index.js에 되어있음 */
@font-face {
    font-family: custom;
    src: url(GowunDodum-Regular.ttf);
}

body{
   /*background-image: url('../images/longer2.jpg');*/
    background-color: white;
}

audio{
    width:60%;
}

.audioContainer {
    margin-top: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
  }


iframe { 
    display:none;
    margin: auto;
    padding: none;
    border: none; 
}

.imageContainer{
    text-align: center;
}

.piece-image {

    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;

}

#title{
    font-family: custom;
    color:black;
    text-align: center;
    margin-bottom: 0;
}


.mainText{
    font-family: custom;
    color:black;
    text-align: left;
    font-size: 20px;
    margin-left: 20px;

}

pre {
    font-family: custom;
    font-size: 20px;
 }

 .piece-image {
    width: 95%;            /* Make the image responsive */
    border: 2px solid #333;  /* Add a 5px solid border for the frame */
    border-radius: 10px;     /* Optional: Add rounded corners to the frame */
}



 .container{
    width: 90%;
    margin: auto;
    border: 1px solid #333;  /* Add a 5px solid border for the frame */
    border-radius: 10px;     /* Optional: Add rounded corners to the frame */
 }

.changePageContainer{
    margin: auto;

}
#previous{
    float:left;
    margin-left: 5%;
}
#next{
    float:right;
    margin-right: 5%;
}

/*
.mainText{
    background-color:rgba(28,34,61,255);
}
*/

.dropdown .button{
    border: none;
}

button {
    background-image: url(images/lang.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height:36px;
    width: 36px;
    border: none;
    background-color: transparent;
  }
  

.dropdown {
    float: right;
    position: relative;
    margin-top: 0;
    margin-right:5%
    
  }

  .dropContent{
    display: none;
    position: absolute;
  }

  .dropContent a {
    font-family: custom;
    color: navy;
    right: 0;
    text-decoration: none;
    display: block;
    margin-top: 10%;

  }

  .show {
    display:block;
    margin-top: 20px;
    font-size: large;
}
#english{
    margin-top: 10px;
}
#korean{
    margin-top: 20px;
}

